<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= artist.name %></title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Ideum</a>
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/artists">Artists</a>
        </li>
        <% if (isAdmin) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <% } %>
        <% if (isLoggedIn) { %>
        <li class="nav-item">
          <a class="nav-link" href="/post/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <% } %>
      </ul>
    
      <form class="form-inline mx-auto my-2 my-lg-0" action="/inspiration/search" method="POST">
        <input class="form-control mr-sm-2" type="search" placeholder="Tall cactus" aria-label="Search" id="query" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
      ></div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <img
            src="<%= artist.image %>"
            class="img-fluid"
            alt="<%= artist.name %>"
          />
        </div>
        <div class="col-md-8">
          <h1><strong><%= artist.name %></strong></h1>
          <h4><strong>Members:</strong></h4>
          <ul>
            <% artist.members.forEach(member => { %>
            <li><%= member %></li>
            <% }); %>
          </ul>
          <h5><strong>Creation Date:</strong> <%= artist.creationDate %></h5>
          <h5><strong>First Album:</strong> <%= artist.firstAlbum %></h5>
          <h5><strong>Concerts:</strong></h5>
          <% if (datesLocations.datesLocations) { %> <%
          Object.keys(datesLocations.datesLocations).forEach(location => { %>
          <p>
            <strong
              ><%= location.replace(/-/g, ' ').toUpperCase().replace(/_/g, ' ')
              %>:</strong
            >
          </p>
          <ul>
            <% datesLocations.datesLocations[location].forEach(date => { %>
            <li><%= date %></li>
            <% }); %>
          </ul>
          <% }); %> <% } else { %>
          <p>No locations and dates available.</p>
          <% } %>
        </div>
      </div>
    </div>

    <footer class="mt-5 text-center">
      <hr />
      <h2>Sarvarov Mustafa | Group: SE-2203</h2>
    </footer>

    <script type="text/javascript">
      var linguJSON = {
        languages: [
          {
            lang_name: "English",
            lang_code: "en",
            url_pattern: "?",
          },
          {
            lang_name: "Russian",
            lang_code: "ru",
            url_pattern: "?",
          },
        ],
        translated_segments: [
          {
            source: "Create Post",
            target: "Создать пост",
          },
          {
            source: "Artists",
            target: "Музыканты",
          },
          {
            source: "Admin",
            target: "Админка",
          }, 
          {
            source: "Logout",
            target: "Выйти",
          },
          {
            source: "Create",
            target: "Создать",
          },
          {
            source: "Register",
            target: "Зарегестрироваться",
          },
          {
            source: "Login",
            target: "Войти",
          },
          {
            source: "Sarvarov Mustafa | Group: SE-2203",
            target: "Сарваров Мустафа | Группа: КИ-2203",
          },
          {
            source: "No locations and dates available.",
            target: "Локации и даты недоступны :(",
          },
          {
            source: "Creation Date:",
            target: "Дата создания:",
          },
          {
            source: "First Album:",
            target: "Первый альбом:",
          },
          {
            source: "Concerts:",
            target: "Концерты:",
          },
          {
            source: "Members:",
            target: "Участники:",
          },
          {
            source: "Search",
            target: "Искать",
          },
        ]
      };
    </script>
    <script src="/scripts/lingumania.js"></script>

  </body>
</html>
